<a routerLink="/list" class="btn btn-lg btn-primary">
  <i class="fas fa-chevron-left"></i> Retour
</a>
<h2>Ajout d'un vol</h2>
<form [formGroup]="volForm" (ngSubmit)="ajouterVol()">
  <div class="form-group">
    <label for="numero">Numéro</label>
    <input type="text" class="form-control"
      [ngClass]="{ 'is-invalid': !volForm.controls.numero.valid && volForm.controls.numero.dirty }" id="numero"
      formControlName="numero">
    <div *ngIf="!volForm.controls.numero.valid && volForm.controls.numero.dirty">
      <p *ngIf="volForm.controls.numero.errors.required">Numéro de vol obligatoire.</p>
      <p *ngIf="volForm.controls.numero.errors.numeroVol">
        Le numéro de vol doit être de la forme {{ volForm.controls.numero.errors.numeroVol.format }}.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="aeroportDepart">Aéroport de Départ</label>
    <input type="text" class="form-control" id="aeroportDepart" formControlName="aeroportDepart">
  </div>
  <div class="form-group">
    <label for="aeroportDepartCode">Code aéroport de Départ</label>
    <input type="text" class="form-control" id="aeroportDepartCode" formControlName="aeroportDepartCode">
  </div>
  <div class="form-group">
    <label for="aeroportArrivee">Aéroport d'Arrivée</label>
    <input type="text" class="form-control" id="aeroportArrivee" formControlName="aeroportArrivee">
  </div>
  <div class="form-group">
    <label for="aeroportArriveeCode">Code aéroport d'Arrivée</label>
    <input type="text" class="form-control" id="aeroportArriveeCode" formControlName="aeroportArriveeCode">
  </div>
  <div class="form-group">
    <label for="heureDepart">Heure de départ</label>
    <input type="text" class="form-control" id="heureDepart" formControlName="heureDepart">
    {{ heureDepartCtrl.errors | json }}
    <div *ngIf="!heureDepartCtrl.valid">
      <p *ngIf="heureDepartCtrl.errors.pattern">Heure invalide.</p>
      <p *ngIf="heureDepartCtrl.errors.required">Heure obligatoire.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="heureArrivee">Heure d'arrivée</label>
    <input type="text" class="form-control" id="heureArrivee" formControlName="heureArrivee">
    <div *ngIf="!heureArriveeCtrl.valid && heureArriveeCtrl.dirty">
      <p *ngIf="heureArriveeCtrl.errors.pattern">Heure invalide.</p>
    </div>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="urgence" formControlName="urgence">
    <label class="form-check-label" for="urgence">Urgence</label>
  </div>
  <div class="form-group">
    <label for="nombrePassagers">Nombre de passagers</label>
    <input type="number" class="form-control" id="nombrePassagers" formControlName="nombrePassagers">
  </div>
  <p>Passagers</p>
  <ul formArrayName="passagers">
    <li *ngFor="let passager of passagersCtrl.controls; let i = index" 
                      formGroupName="{{i}}">
        <input type="text" formControlName="nom">
        <input type="text" formControlName="prenom">
        <button type="button" title="Supprimer" (click)="supprimerPassager(i)" class="btn btn-danger">Supprimer</button>
    </li>
  </ul>
  <button type="button" (click)="ajouterPassager()">Ajouter</button>


  <button type="submit" class="btn btn-success" [disabled]="!volForm.valid">
    Ajouter
  </button>
</form>