<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">FlightViewWeb2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/list">Liste des vols</a>
            </li>            
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/add" id="ladd">Ajouter un vol</a>
            </li>            
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a *ngIf="auth" class="nav-link" (click)="changeAuth()">Logout</a>
                <a *ngIf="!auth" class="nav-link" (click)="changeAuth()">Login</a>
            </li>            
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>